//--------------- U N I V E R S A L ----------------
*
	margin: 0
	padding: 0
	box-sizing: border-box

html
	scroll-behavior: smooth 

.no-gutters
	margin: 0 0 0 0 !important
	padding: 0 0 0 0 !important

body
	background-color: $baseColor
	// background-color: white