@include desktop
	nav#nav-home
		padding: 15px 10px
		background: $baseColor
		border: none
		border-radius: 0
		margin-bottom: 40px
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)

		div
			a
				img.nav-logo
					height: 8vh

		div
			button

			div
				ul
					li 
						a.nav-link
							color: white
							font-family: Calibri

		div
			form
				input.searchbar::placeholder
					color: white !important

				input.searchbar:hover::placeholder
					color: gray !important
			
				button.search-btn
					color: white !important

@include tablet
	nav#nav-home
		display: none !important
		height: 0vh

		div
			a
				img.nav-logo
					display: none !important
					height: 0vh

		div
			button

			div
				ul
					li 
						a.nav-link
							display: none !important
							height: 0vh

		div
			form
				input.searchbar::placeholder
					display: none !important
					height: 0vh
			
				button.search-btn
					display: none !important
					height: 0vh

@include small-tablet
	nav#nav-home
		display: none !important
		height: 0vh

		div
			a
				img.nav-logo
					display: none !important
					height: 0vh

		div
			button

			div
				ul
					li 
						a.nav-link
							display: none !important
							height: 0vh

		div
			form
				input.searchbar::placeholder
					display: none !important
					height: 0vh
			
				button.search-btn
					display: none !important
					height: 0vh

@include phone
	nav#nav-home
		display: none !important
		height: 0vh

		div
			a
				img.nav-logo
					display: none !important
					height: 0vh

		div
			button

			div
				ul
					li 
						a.nav-link
							display: none !important
							height: 0vh

		div
			form
				input.searchbar::placeholder
					display: none !important
					height: 0vh
			
				button.search-btn
					display: none !important
					height: 0vh

@include small-phone
	nav#nav-home
		display: none !important
		height: 0vh

		div
			a
				img.nav-logo
					display: none !important
					height: 0vh

		div
			button

			div
				ul
					li 
						a.nav-link
							display: none !important
							height: 0vh

		div
			form
				input.searchbar::placeholder
					display: none !important
					height: 0vh
			
				button.search-btn
					display: none !important
					height: 0vh