@include desktop


@include tablet
	// section.navbar-mobile
	// 	div
	// 		nav#sidebar
	// 			width: 250px
	// 			position: fixed
	// 			top: 0
	// 			left: -250px
	// 			height: 100vh
	// 			z-index: 999
	// 			background: rgba(0, 0, 0, .75)
	// 			color: #fff
	// 			transition: all 0.3s
	// 			overflow-y: scroll
	// 			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2)

	// 		nav#sidebar.active
	// 			left: 0

	// 			div#dismiss
	// 				width: 35px
	// 				height: 35px
	// 				line-height: 35px
	// 				text-align: center
	// 				background: #30506e
	// 				position: absolute
	// 				top: 10px
	// 				right: 10px
	// 				cursor: pointer
	// 				-webkit-transition: all 0.3s
	// 				-o-transition: all 0.3s
	// 				transition: all 0.3s

	// 			div#dismiss:hover
	// 				background: #fff
	// 				color: #7386D5				

	// 			div.sidebar-header
	// 				padding: 20px
	// 				background: #30506e

	// 				h4
	// 					img.sidebar-logo

	// 			ul.components
	// 			    padding: 20px 0
	// 			    border-bottom: 1px solid #47748b

	// 			    p
	// 					color: #fff
	// 					padding: 10px

	// 				li
	// 					a#dismiss2
	// 						cursor: pointer
	// 						-webkit-transition: all 0.3s
	// 						-o-transition: all 0.3s
	// 						transition: all 0.3s
	// 						padding: 10px
	// 						font-size: 1.1em
	// 						display: block
	// 						font-size: 0.9em !important
	// 						padding-left: 30px !important
	// 						background: #30506e


	// 					a#dismiss2:hover
	// 						color: #7386D5
	// 						background: #fff

	// 				li.active>a
	// 					a[aria-expanded="true"]
	// 						color: #fff
	// 						background: #30506e

	// 					a[data-toggle="collapse"]
	// 						position: relative


	// 					a#dismiss2:hover
	// 						color: #7386D5
	// 						background: #fff					






	// 			ul.CTAs
	// 				padding: 20px

	// 				li
	// 					form
	// 						input.searchbar

	// 						button
		
	// 	div#content
	// 		width: 100%
	// 		padding: 20px
	// 		min-height: 100vh
	// 		transition: all 0.3s
	// 		position: absolute
	// 		top: 0
	// 		right: 0

	// 		nav.nav-mobile-pg
	// 		    background: #30506e

	// 			div
	// 				div
	// 					button#sidebarCollapse
	// 						i

	// 				div
	// 					img.nav-logo-lg

	// 					img.nav-logo-md

	// 					img.nav-logo-xs

	// div.overlay
	// 	display: none
	// 	position: fixed
	// 	width: 100vw
	// 	height: 100vh
	// 	background: rgba(0, 0, 0, 0.7)
	// 	z-index: 998
	// 	opacity: 0
	// 	transition: all 0.5s ease-in-out

	// div.overlay.active
	// 	display: block
	// 	opacity: 1

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar 
    width: 250px
    position: fixed
    top: 0
    left: -250px
    height: 100vh
    z-index: 999
    background: rgba(0, 0, 0, .75)
    color: #fff
    transition: all 0.3s
    overflow-y: scroll
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2)


#sidebar.active 
    left: 0


#dismiss 
    width: 35px
    height: 35px
    line-height: 35px
    text-align: center
    background: #30506e
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer
    -webkit-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s


#dismiss:hover 
    background: #fff
    color: #7386D5


#dismiss2 
    cursor: pointer
    -webkit-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s


#dismiss:hover 
    background: #fff
    color: #7386D5


.overlay 
    display: none
    position: fixed
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.7)
    z-index: 998
    opacity: 0
    transition: all 0.5s ease-in-out

.overlay.active 
    display: block
    opacity: 1


#sidebar .sidebar-header 
    padding: 20px
    background: #30506e


#sidebar ul.components 
    padding: 20px 0
    border-bottom: 1px solid #47748b


#sidebar ul p 
    color: #fff
    padding: 10px


#sidebar ul li a 
    padding: 10px
    font-size: 1.1em
    display: block


#sidebar ul li a:hover 
    color: #7386D5
    background: #fff


#sidebar ul li.active>a,
a[aria-expanded="true"] 
    color: #fff
    background: #30506e


a[data-toggle="collapse"] 
    position: relative


.dropdown-toggle::after 
    display: block
    position: absolute
    top: 50%
    right: 20px
    transform: translateY(-50%)


ul ul a 
    font-size: 0.9em !important
    padding-left: 30px !important
    background: #30506e


ul.CTAs 
    padding: 20px


ul.CTAs a 
    text-align: center
    font-size: 0.9em !important
    display: block
    border-radius: 5px
    margin-bottom: 5px


a.download 
    background: #fff
    color: #7386D5


a.article,
a.article:hover 
    background: #30506e !important
    color: #fff !important


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content 
    width: 100%
    padding: 20px
    min-height: 100vh
    transition: all 0.3s
    position: absolute
    top: 0
    right: 0

.nav-mobile-pg 
    background: #30506e

@include phone