@include desktop
	section.home 
		margin: 0
		padding: 0
		height: 100vh
		background: url(https://res.cloudinary.com/kennmasing/image/upload/v1589305510/capstone1/homecover_xnerzl.png) center center
		background-size: cover
			
		div
			div.cto-desktop
				position: absolute
				top: 45%

				div
					h2.cto-desktop
						color: white
						font-size: 7rem
						font-family: Oswald

					p.cto-desktop
						color: white
						font-size: 3rem
						font-family: Saira Extra Condensed

		div
			div.cto-tab
				display: none !important
				height: 0vh !important

				div				
					h2.cto-tab
						display: none !important
						height: 0vh !important

					p.cto-tab
						display: none !important
						height: 0vh !important

		div
			div.cto-mobile
				display: none !important
				height: 0vh !important

				div				
					h2.cto-mobile
						display: none !important
						height: 0vh !important

					p.cto-mobile
						display: none !important
						height: 0vh !important

@include tablet
	section.home 
		margin: 0
		padding: 0
		height: 100vh
		background: url(https://res.cloudinary.com/kennmasing/image/upload/v1589305510/capstone1/homecover_xnerzl.png) center center
		background-size: cover

		div
			div.cto-desktop
				display: none !important
				height: 0vh !important

				div
					h2.cto-desktop
						display: none !important
						height: 0vh !important

					p.cto-desktop
						display: none !important
						height: 0vh !important

		div
			div.cto-tab
				position: absolute
				top: 45%

				div
					h2.cto-tab
						color: white
						font-size: 5rem
						font-family: Oswald

					p.cto-tab
						color: white
						font-size: 2rem
						font-family: Saira Extra Condensed

		div
			div.cto-mobile
				display: none !important
				height: 0vh !important

				div				
					h2.cto-mobile
						display: none !important
						height: 0vh !important

					p.cto-mobile
						display: none !important
						height: 0vh !important

@include small-tablet
	section.home 
		margin: 0
		padding: 0
		height: 100vh
		background: url(https://res.cloudinary.com/kennmasing/image/upload/v1589305510/capstone1/homecover_xnerzl.png) center center
		background-size: cover

		div
			div.cto-desktop
				display: none !important
				height: 0vh !important

				div
					h2.cto-desktop
						display: none !important
						height: 0vh !important

					p.cto-desktop
						display: none !important
						height: 0vh !important

		div
			div.cto-tab
				position: absolute
				top: 45%

				div
					h2.cto-tab
						color: white
						font-size: 4rem !important
						font-family: Oswald

					p.cto-tab
						color: white
						font-size: 2rem !important
						font-family: Saira Extra Condensed

		div
			div.cto-mobile
				display: none !important
				height: 0vh !important

				div				
					h2.cto-mobile
						display: none !important
						height: 0vh !important

					p.cto-mobile
						display: none !important
						height: 0vh !important


@include phone
	section.home 
		margin: 0
		padding: 0
		height: 100vh
		background: url(https://res.cloudinary.com/kennmasing/image/upload/v1589305605/capstone1/homecover-mobile02_brswfu.png) no-repeat right center !important
		background-size: cover 

		div
			div.cto-desktop
				display: none !important
				height: 0vh !important

				div
					h2.cto-desktop
						display: none !important
						height: 0vh !important

					p.cto-desktop
						display: none !important
						height: 0vh !important

		div.cto-mobile
			div.cto-mobile
				position: absolute
				top: 45%

				div
					h2.cto-mobile
						color: white
						font-size: 3rem
						font-family: Oswald

					p.cto-mobile
						color: white
						font-size: 1.2rem
						font-family: Saira Extra Condensed

		div
			div.cto-tab
				display: none !important
				height: 0vh !important

				div				
					h2.cto-tab
						display: none !important
						height: 0vh !important

					p.cto-tab
						display: none !important
						height: 0vh !important

@include small-phone
	section.home 
		margin: 0
		padding: 0
		height: 100vh
		background: url(https://res.cloudinary.com/kennmasing/image/upload/v1589305605/capstone1/homecover-mobile02_brswfu.png) no-repeat right center !important
		background-size: cover 

		div
			div.cto-desktop
				display: none !important
				height: 0vh !important

				div
					h2.cto-desktop
						display: none !important
						height: 0vh !important

					p.cto-desktop
						display: none !important
						height: 0vh !important

		div.cto-mobile
			div.cto-mobile
				position: absolute
				top: 45%

				div
					h2.cto-mobile
						color: white
						font-size: 2.5rem
						font-family: Oswald

					p.cto-mobile
						color: white
						font-size: 1.2rem
						font-family: Saira Extra Condensed

		div
			div.cto-tab
				display: none !important
				height: 0vh !important

				div				
					h2.cto-tab
						display: none !important
						height: 0vh !important

					p.cto-tab
						display: none !important
						height: 0vh !important