section.billofrights
	height: 100vh
	background-color: white

	@include desktop
		div.card-body-desktop
			padding: 15vh 0 0 0
			div.bor-title

				div.card-body
					div
						div
							img.billsofrightslogo
								width: 150px !important
								height: 150px !important

						p.billofrights-hdr
							color: #666666
							font-size: 2.5rem
							font-family: oswald
							font-weight: bold
							text-align: center

						div.bor-desc-tablet
							div
								p.sm-txt2
									text-align: center
									font-size: .9rem
									font-family: arial
									color: #5f7053


			div.bor-card-container
				div.row
					div.billofrights-card
						transition-timing-function: ease-in
						transition: 0.3s
						display: block
						background: #72A1B4					

						div
							h4#smallheader-bor
								text-align: center
								line-height: 50px
								color: white !important
								font-family: Oswald
								font-size: 1.5rem
						div
							img.bor-icon-lg
								// padding: .25rem 0 .5rem 0 !important

						div
							p.sm-txt-lg-bor
								text-align: center
								font-size: .9rem
								font-family: arial
								color: white
								padding: 1rem 0 1rem 0 !important

					div.billofrights-card:hover
						transition-timing-function: ease-out
						transition: 0.3s
						transform: scale(1.1)

					div.billofrights-card:hover
						transition-timing-function: ease-out
						transition: 0.3s
						transform: scale(1.1)

					div.billofrights-card:hover
						transition-timing-function: ease-out
						transition: 0.3s
						transform: scale(1.1)

					div.billofrights-card:hover
						transition-timing-function: ease-out
						transition: 0.3s
						transform: scale(1.1)

					div.billofrights-card:hover
						transition-timing-function: ease-out
						transition: 0.3s
						transform: scale(1.1)

		button.billofrights-btn
			display: flex
			justify-content: center
			border: 1.5px solid rgba(148, 148, 148, .5)
			border-radius: 5px
			margin: 20px auto 0px auto
			padding: 10px 20px
			background: none
			font-size: 1rem
			font-family: arial
			transition-timing-function: ease-in
			transition: 0.3s

			a
				color: $darkGray

		button.billofrights-btn:hover
			transition-timing-function: ease-out
			transition: 0.3s
			transform: scale(1.05)

		// div.card-body-tablet
		// 	display: none !important
		// 	height: 0vh !important
		// 	div.bor-title-tab
		// 		display: none !important
		// 		height: 0vh !important

		// 		div.card-body
		// 			display: none !important
		// 			height: 0vh !important
		// 			div
		// 				display: none !important
		// 				height: 0vh !important
		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					img.billsofrightslogo
		// 						display: none !important
		// 						height: 0vh !important

		// 				div.bor-desc.tablet
		// 					display: none !important
		// 					height: 0vh !important
		// 					div
		// 						display: none !important
		// 						height: 0vh !important
		// 						p.sm-txt2
		// 							display: none !important
		// 							height: 0vh !important

		// 	div.bor-card-container
		// 		display: none !important
		// 		height: 0vh !important
		// 		div.row
		// 			display: none !important
		// 			height: 0vh !important
		// 			div.billofrights-card
		// 				display: none !important
		// 				height: 0vh !important				

		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					h4.card-title-lg #smallheader-bor
		// 						display: none !important
		// 						height: 0vh !important
		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					img.bor-icon-lg
		// 						display: none !important
		// 						height: 0vh !important
		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					p.sm-txt-lg-bor
		// 						display: none !important
		// 						height: 0vh !important

		// button.billofrights-btn-tablet
		// 	display: none !important
		// 	height: 0vh !important

		// div.card-body-mobile
		// 	div.bor-title-mobile
		// 		display: none !important
		// 		height: 0vh !important

		// 		div.card-body
		// 			display: none !important
		// 			height: 0vh !important
		// 			div
		// 				display: none !important
		// 				height: 0vh !important
		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					img.billsofrightslogo
		// 						display: none !important
		// 						height: 0vh !important

		// 				div.bor-desc.mobile
		// 					display: none !important
		// 					height: 0vh !important
		// 					div
		// 						display: none !important
		// 						height: 0vh !important
		// 						p.sm-txt2
		// 							display: none !important
		// 							height: 0vh !important

		// 	div.bor-card-container
		// 		display: none !important
		// 		height: 0vh !important
		// 		div.row
		// 			display: none !important
		// 			height: 0vh !important
		// 			div.billofrights-card
		// 				display: none !important
		// 				height: 0vh !important				

		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					h4.card-title-lg #smallheader-bor
		// 						display: none !important
		// 						height: 0vh !important
		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					img.bor-icon-lg
		// 						display: none !important
		// 						height: 0vh !important
		// 				div
		// 					display: none !important
		// 					height: 0vh !important
		// 					p.sm-txt-lg-bor
		// 						display: none !important
		// 						height: 0vh !important

		// button.billofrights-btn-mobile
		// 	display: none !important
		// 	height: 0vh !important

	@include tablet
		//------------ TABLET -------------
		div.card-body-desktop
			padding: 5vh 0 0 0

			div.bor-title
				padding: 0vh 0 2vh 0

				div.card-body
					div
						div
							img.billsofrightslogo
								width: 150px !important
								height: 150px !important

						p.billofrights-hdr
							color: #666666
							font-size: 2.5rem
							font-family: oswald
							font-weight: bold
							text-align: center

						div.bor-desc-tablet
							div
								display: none !important
								height: 0vh !important

			div.bor-card-container
				div.row
					div.billofrights-card
						transition-timing-function: ease-in
						transition: 0.3s
						display: block
						background: #72A1B4					

						div
							h4#smallheader-bor
								text-align: center
								color: white !important
								font-family: Oswald
								font-size: 2rem

						div
							img.bor-icon-lg

						div
							p.sm-txt-lg-bor
								display: none !important
								height: 0vh !important

		button.billofrights-btn
			display: flex
			justify-content: center
			border: 1.5px solid rgba(148, 148, 148, .5)
			border-radius: 5px
			margin: 20px auto 0px auto
			padding: 10px 20px
			background: none
			font-size: 1rem
			font-family: arial
			transition-timing-function: ease-in
			transition: 0.3s

			a
				color: $darkGray

	@include small-tablet
		//------------ SMALL TABLET -------------
		div.card-body-desktop
			padding: 2vh 0 0 0

			div.bor-title
				padding: 0vh 0 2vh 0

				div.card-body
					div
						div
							img.billsofrightslogo
								width: 100px !important
								height: 100px !important
								margin: 0 0 2vh 0

						p.billofrights-hdr
							color: #666666
							font-size: 1.5rem
							font-family: oswald
							font-weight: bold
							text-align: center

						div.bor-desc-tablet
							div
								display: none !important
								height: 0vh !important

			div.bor-card-container
				div.row
					div.billofrights-card
						transition-timing-function: ease-in
						transition: 0.3s
						display: block
						background: #72A1B4					

						div
							h4#smallheader-bor
								text-align: center
								color: white !important
								font-family: Oswald
								font-size: 1.5rem

						div
							img.bor-icon-lg

						div
							p.sm-txt-lg-bor
								display: none !important
								height: 0vh !important

		button.billofrights-btn
			display: flex
			justify-content: center
			border: 1.5px solid rgba(148, 148, 148, .5)
			border-radius: 5px
			margin: 20px auto 0px auto
			padding: 10px 20px
			background: none
			font-size: 1rem
			font-family: arial
			transition-timing-function: ease-in
			transition: 0.3s

			a
				color: $darkGray

	@include phone
		//------------ PHONE -------------
		div.card-body-desktop
			padding: 2vh 0 0 0

			div.bor-title
				padding: 0vh 0 2vh 0

				div.card-body
					div
						div
							img.billsofrightslogo
								width: 100px !important
								height: 100px !important
								margin: 0 0 2vh 0

						p.billofrights-hdr
							color: #666666
							font-size: 2rem
							font-family: oswald
							font-weight: bold
							text-align: center

						div.bor-desc-tablet
							div
								display: none !important
								height: 0vh !important

			div.bor-card-container
				div.row
					div.billofrights-card
						transition-timing-function: ease-in
						transition: 0.3s
						display: block
						background: #72A1B4					

						div
							h4#smallheader-bor
								text-align: center
								color: white !important
								font-family: Oswald
								font-size: 1.5rem

						div
							img.bor-icon-lg
								width: 100px !important
								height: 100px !important

						div
							p.sm-txt-lg-bor
								display: none !important
								height: 0vh !important

		button.billofrights-btn
			display: flex
			justify-content: center
			border: 1.5px solid rgba(148, 148, 148, .5)
			border-radius: 5px
			margin: 20px auto 0px auto
			padding: 10px 20px
			background: none
			font-size: 1rem
			font-family: arial
			transition-timing-function: ease-in
			transition: 0.3s

			a
				color: $darkGray

	@include small-phone
		//------------ SMALL PHONE -------------
		div.card-body-desktop
			padding: 2vh 0 0 0

			div.bor-title
				padding: 0vh 0 2vh 0

				div.card-body
					div
						div
							img.billsofrightslogo
								width: 100px !important
								height: 100px !important
								margin: 0 0 2vh 0

						p.billofrights-hdr
							color: #666666
							font-size: 1.75rem
							font-family: oswald
							font-weight: bold
							text-align: center

						div.bor-desc-tablet
							div
								display: none !important
								height: 0vh !important

			div.bor-card-container
				div.row
					div.billofrights-card
						transition-timing-function: ease-in
						transition: 0.3s
						display: block
						background: #72A1B4					

						div
							h4#smallheader-bor
								text-align: center
								color: white !important
								font-family: Oswald
								font-size: 1.2rem

						div
							img.bor-icon-lg
								width: 80px !important
								height: 90px !important

						div
							p.sm-txt-lg-bor
								display: none !important
								height: 0vh !important

		button.billofrights-btn
			display: flex
			justify-content: center
			border: 1.5px solid rgba(148, 148, 148, .5)
			border-radius: 5px
			margin: 20px auto 0px auto
			padding: 10px 20px
			background: none
			font-size: .9rem
			font-family: arial
			transition-timing-function: ease-in
			transition: 0.3s

			a
				color: $darkGray