@include desktop
	section.nacto-mobile
		display: none !important
		height: 0vh !important
		background-color: white

		div.nacto-title-mobile

			div
				p.sm-txt1-mobile
					display: none !important
					height: 0vh !important

		div
			div
				div
					h6.card-title
						display: none !important
						height: 0vh !important

					div
						img
							display: none !important
							height: 0vh !important

					h6.card-title
						display: none !important
						height: 0vh !important

@include tablet
	section.nacto-mobile
		height: 100vh
		background-color: white

		div.nacto-title-mobile

			div
				p.sm-txt1-mobile
					color: #666666
					font-size: 2rem
					font-family: oswald
					font-weight: bold
					text-align: center

		div
			div
				div
					h6.card-title
						color: #666666
						font-size: 1.75rem
						font-family: oswald
						font-weight: bold
						text-align: center

					div
						img
							height: 35vh

					h6.card-title
						color: #666666
						font-size: 1rem
						font-family: oswald
						font-weight: bold
						text-align: center

@include small-tablet
	section.nacto-mobile
		height: 100vh
		background-color: white

		div.nacto-title-mobile
			
			div
				p.sm-txt1-mobile
					color: #666666
					font-size: 2rem
					font-family: oswald
					font-weight: bold
					text-align: center

		div
			div
				div
					h6.card-title
						color: #666666
						font-size: 1.75rem
						font-family: oswald
						font-weight: bold
						text-align: center

					div
						img
							height: 35vh

					h6.card-title
						color: #666666
						font-size: 1rem
						font-family: oswald
						font-weight: bold
						text-align: center

@include phone
	section.nacto-mobile
		height: 100vh
		background-color: white

		div.nacto-title-mobile
			
			div
				p.sm-txt1-mobile
					color: #666666
					font-size: 2rem
					font-family: oswald
					font-weight: bold
					text-align: center

		div
			div
				div
					h6.card-title
						color: #666666
						font-size: 1.75rem
						font-family: oswald
						font-weight: bold
						text-align: center

					div
						img
							height: 35vh

					h6.card-title
						color: #666666
						font-size: 1rem
						font-family: oswald
						font-weight: bold
						text-align: center

@include small-phone
	section.nacto-mobile
		height: 100vh
		background-color: white

		div.nacto-title-mobile

			div
				p.sm-txt1-mobile
					color: #666666
					font-size: 1.5rem
					font-family: oswald
					font-weight: bold
					text-align: center

		div
			div
				div
					h6.card-title
						color: #666666
						font-size: .9rem
						font-family: oswald
						font-weight: bold
						text-align: center

					div
						img
							height: 35vh

					h6.card-title
						color: #666666
						font-size: .9rem
						font-family: oswald
						font-weight: bold
						text-align: center