@include desktop
	section.nacto-desktop
		height: 100vh !important
		background-color:  white

		div.card-body2
			margin: 10vh 0 0 -10vh
			
			div
				div
					div.d-block
						h5.card-title

						div
							img

						h5#smallheader-nacto
							font-family: Oswald
							font-weight: bold
							font-size: 1.25rem
							color: #43454a

			div
				div.history-card-container
					div.card-body
						div
							p.nacto-hdr
								font-size: 2.5rem
								color: #43454a
								font-family: Oswald
								font-weight: bold

					div
						div
							p.sm-txt2
								font-size: 1rem
								color: #5f7053
								font-family: Arial
								text-align: center


@include tablet
	section.nacto-desktop
		display: none !important
		height: 0vh !important
		background-color: white

		div.card-body2
			display: none !important
			height: 0vh !important
			
			div
				div
					div.d-block
						h5.card-title

						div
							img

						h5#smallheader-nacto
							display: none !important
							height: 0vh !important

			div
				div.history-card-container
					div.card-body
						div
							p.nacto-hdr
								display: none !important
								height: 0vh !important

					div
						div
							p.sm-txt2
								display: none !important
								height: 0vh !important

@include small-tablet
	section.nacto-desktop
		display: none !important
		height: 0vh !important
		background-color: white

		div.card-body2
			display: none !important
			height: 0vh !important
			
			div
				div
					div.d-block
						h5.card-title

						div
							img

						h5#smallheader-nacto
							display: none !important
							height: 0vh !important

			div
				div.history-card-container
					div.card-body
						div
							p.nacto-hdr
								display: none !important
								height: 0vh !important

					div
						div
							p.sm-txt2
								display: none !important
								height: 0vh !important

@include phone
	section.nacto-desktop
		display: none !important
		height: 0vh !important
		background-color: white

		div.card-body2
			display: none !important
			height: 0vh !important
			
			div
				div
					div.d-block
						h5.card-title

						div
							img

						h5#smallheader-nacto
							display: none !important
							height: 0vh !important

			div
				div.history-card-container
					div.card-body
						div
							p.nacto-hdr
								display: none !important
								height: 0vh !important

					div
						div
							p.sm-txt2
								display: none !important
								height: 0vh !important

@include small-phone
	section.nacto-desktop
		display: none !important
		height: 0vh !important
		background-color: white

		div.card-body2
			display: none !important
			height: 0vh !important
			
			div
				div
					div.d-block
						h5.card-title

						div
							img

						h5#smallheader-nacto
							display: none !important
							height: 0vh !important

			div
				div.history-card-container
					div.card-body
						div
							p.nacto-hdr
								display: none !important
								height: 0vh !important

					div
						div
							p.sm-txt2
								display: none !important
								height: 0vh !important