@include desktop
	section.contact
		height: auto
		padding-left: 0px !important
		padding-right: 0px !important
		padding-top: 0px !important
		padding-bottom: 0px !important
		height: 80vh

		div

			div.parallax-window
				height: auto
				background: transparent
				position: relative
				// height: 100vh

				div
					div.contact-desktop
						// margin: 7.5vh 0 0 0

						div
							form
								div.form-row
									div.form-group
										h5.contact-hdr
											font-size: 2rem !important
											font-family: Oswald
											color: white

										h5.contact-sub
											font-size: 1.5rem
											font-family: Saira Extra Condensed
											font-weight: normal
											color: white

										input.form-control

									button

							div.row
								div.form-group
									h3.contact-hdr
										font-size: 1.25rem
										font-family: oswald
										color: white

									div#socialmedia

										a
											color: white
											i

							div.row
								div
									h3.contact-hdr
										font-size: 1.25rem
										font-family: oswald
										color: white

									p.contact-txt
										font-size: 1rem
										font-family: arial
										color: white

									p.contact-txt
										font-size: 1rem
										font-family: arial
										color: white

					div.contact-form
						// margin: 7.5vh 0 0 0
	
						form.d-block
							h5.contact-hdr
								font-size: 2rem !important
								font-family: Oswald
								color: white

							h5.contact-sub
								font-size: 1.5rem
								font-family: Saira Extra Condensed
								font-weight: normal
								color: white

							div.form-row
								div.form-group

								div.form-group

							div.form-group
								select.form-control
									option

							div.form-row
								div.form-group
									input

							div.form-group
								text-area.inputField

							h5.captcha-hdr
								font-size: 1.5rem
								font-family: arial
								font-weight: normal
								color: white

							h6.captcha-sub
								font-size: 1rem
								font-family: arial narrow
								font-weight: normal
								color: white

							div.form-group
								div.card-body
									div
										div.form-check
											input.form-check-input

											label.form-check-label

									div
										img.captcha-img
											width: 50px
											height: 50px

							button

@include tablet
	section.contact
		height: auto
		padding-left: 0px !important
		padding-right: 0px !important
		padding-top: 0px !important
		padding-bottom: 0px !important
		height: 70vh

		div

			div.parallax-window
				height: auto
				background: transparent
				position: relative
				height: 70vh

				div
					div.contact-desktop
						div
							form
								div.form-row
									div.form-group
										h5.contact-hdr
											font-size: 1.5rem !important
											font-family: Oswald
											color: white

										h5.contact-sub
											font-size: 1.2rem
											font-family: Saira Extra Condensed
											font-weight: normal
											color: white

										input.form-control

									button

							div.row
								div.form-group
									h3.contact-hdr
										font-size: 1rem
										font-family: oswald
										color: white

									div#socialmedia

										a
											color: white
											i

							div.row
								div
									h3.contact-hdr
										font-size: 1rem
										font-family: oswald
										color: white

									p.contact-txt
										font-size: .7rem
										font-family: arial
										color: white

									p.contact-txt
										font-size: .7rem
										font-family: arial
										color: white

					div
						form.d-block
							h5.contact-hdr
								font-size: 1.5rem !important
								font-family: Oswald
								color: white

							h5.contact-sub
								font-size: 1.2rem
								font-family: Saira Extra Condensed
								font-weight: normal
								color: white

							div.form-row
								div.form-group

								div.form-group

							div.form-group
								select.form-control
									option

							div.form-row
								div.form-group
									input

							div.form-group
								text-area.inputField

							h5.captcha-hdr
								font-size: 1.2rem
								font-family: arial
								font-weight: normal
								color: white

							h6.captcha-sub
								font-size: .7rem
								font-family: arial narrow
								font-weight: normal
								color: white

							div.form-group
								div.card-body
									div
										div.form-check
											input.form-check-input

											label.form-check-label

									div
										img.captcha-img
											width: 50px
											height: 50px

							button

@include small-tablet
	section.contact
		height: auto
		padding-left: 0px !important
		padding-right: 0px !important
		padding-top: 0px !important
		padding-bottom: 0px !important
		height: 100vh

		div

			div.parallax-window
				height: auto
				background: transparent
				position: relative
				height: 100vh

				div
					div.contact-desktop
						div
							form
								div.form-row
									div.form-group
										h5.contact-hdr
											font-size: 1.5rem !important
											font-family: Oswald
											color: white

										h5.contact-sub
											font-size: 1.2rem
											font-family: Saira Extra Condensed
											font-weight: normal
											color: white

										input.form-control

									button

							div.row
								div.form-group
									h3.contact-hdr
										font-size: 1rem
										font-family: oswald
										color: white

									div#socialmedia

										a
											color: white
											i

							div.row
								div
									h3.contact-hdr
										font-size: 1rem
										font-family: oswald
										color: white

									p.contact-txt
										font-size: .7rem
										font-family: arial
										color: white

									p.contact-txt
										font-size: .7rem
										font-family: arial
										color: white

					div
						form.d-block
							h5.contact-hdr
								font-size: 1.5rem !important
								font-family: Oswald
								color: white

							h5.contact-sub
								font-size: 1.2rem
								font-family: Saira Extra Condensed
								font-weight: normal
								color: white

							div.form-row
								div.form-group

								div.form-group

							div.form-group
								select.form-control
									option

							div.form-row
								div.form-group
									input

							div.form-group
								text-area.inputField

							h5.captcha-hdr
								font-size: 1.2rem
								font-family: arial
								font-weight: normal
								color: white

							h6.captcha-sub
								font-size: .7rem
								font-family: arial narrow
								font-weight: normal
								color: white

							div.form-group
								div.card-body
									div
										div.form-check
											input.form-check-input

											label.form-check-label

									div
										img.captcha-img
											width: 50px
											height: 50px

							button

@include phone
	section.contact
		height: auto
		padding-left: 0px !important
		padding-right: 0px !important
		padding-top: 0px !important
		padding-bottom: 0px !important
		height: 170vh

		div

			div.parallax-window
				height: 170vh
				background: transparent
				position: relative
				// bottom: 10%
				div
					div.contact-desktop
						div
							form
								div.form-row
									div.form-group
										h5.contact-hdr
											font-size: 2rem !important
											font-family: Oswald
											color: white

										h5.contact-sub
											font-size: 1.5rem
											font-family: Saira Extra Condensed
											font-weight: normal
											color: white

										input.form-control

									button

							div.row
								div.form-group
									h3.contact-hdr
										font-size: 1.25rem
										font-family: oswald
										color: white

									div#socialmedia

										a
											color: white
											i

							div.row
								div
									h3.contact-hdr
										font-size: 1.25rem
										font-family: oswald
										color: white

									p.contact-txt
										font-size: 1rem
										font-family: arial
										color: white

									p.contact-txt
										font-size: 1rem
										font-family: arial
										color: white

					div
						form.d-block
							h5.contact-hdr
								font-size: 2rem !important
								font-family: Oswald
								color: white

							h5.contact-sub
								font-size: 1.5rem
								font-family: Saira Extra Condensed
								font-weight: normal
								color: white

							div.form-row
								div.form-group

								div.form-group

							div.form-group
								select.form-control
									option

							div.form-row
								div.form-group
									input

							div.form-group
								text-area.inputField

							h5.captcha-hdr
								font-size: 1.5rem
								font-family: arial
								font-weight: normal
								color: white

							h6.captcha-sub
								font-size: 1rem
								font-family: arial narrow
								font-weight: normal
								color: white

							div.form-group
								div.card-body
									div
										div.form-check
											input.form-check-input

											label.form-check-label

									div
										img.captcha-img
											width: 50px
											height: 50px

							button

@include small-phone
	section.contact
		height: auto
		padding-left: 0px !important
		padding-right: 0px !important
		padding-top: 0px !important
		padding-bottom: 0px !important
		height: 180vh

		div

			div.parallax-window
				height: 180vh
				background: transparent
				position: relative
				// bottom: 10%
				div
					div.contact-desktop
						div
							form
								div.form-row
									div.form-group
										h5.contact-hdr
											font-size: 2rem !important
											font-family: Oswald
											color: white

										h5.contact-sub
											font-size: 1.5rem
											font-family: Saira Extra Condensed
											font-weight: normal
											color: white

										input.form-control

									button

							div.row
								div.form-group
									h3.contact-hdr
										font-size: 1.25rem
										font-family: oswald
										color: white

									div#socialmedia

										a
											color: white
											i

							div.row
								div
									h3.contact-hdr
										font-size: 1.25rem
										font-family: oswald
										color: white

									p.contact-txt
										font-size: 1rem
										font-family: arial
										color: white

									p.contact-txt
										font-size: 1rem
										font-family: arial
										color: white

					div
						form.d-block
							h5.contact-hdr
								font-size: 2rem !important
								font-family: Oswald
								color: white

							h5.contact-sub
								font-size: 1.5rem
								font-family: Saira Extra Condensed
								font-weight: normal
								color: white

							div.form-row
								div.form-group

								div.form-group

							div.form-group
								select.form-control
									option

							div.form-row
								div.form-group
									input

							div.form-group
								text-area.inputField

							h5.captcha-hdr
								font-size: 1.5rem
								font-family: arial
								font-weight: normal
								color: white

							h6.captcha-sub
								font-size: 1rem
								font-family: arial narrow
								font-weight: normal
								color: white

							div.form-group
								div.card-body
									div
										div.form-check
											input.form-check-input

											label.form-check-label

									div
										img.captcha-img
											width: 50px
											height: 50px

							button