@include desktop
	section.footer-desktop
		height: 20vh
		background-color: $baseColor
		// margin: -20vh 0 0 0

		div
			div
				div
					a
						img.nav-logo
							width: 240px
							height: 71px
							// width: 180px
							// height: 53px
			div
				a.calltoaction
					font-family: Oswald
					font-size: 1.2rem
					color: white

			div
				button
		
		div
			hr.hrcolor
				border: .5px solid white
				width: 95%

		div
			div
				small
					color: white
					font-size: .8rem

					strong

					span

			div
				ul
					li
						color: white

						a
							color: white
							font-family: Oswald
							font-size: .9rem

	section.footer-mobile
		display: none !important
		height: 0vh !important

		div
			div.footer-container
				display: none !important
				height: 0vh !important
				a
					img.footer-logo
						display: none !important
						height: 0vh !important
			div
				button

		div.footer-mobile
			div.row
				h6.smallheader-footer
					display: none !important
					height: 0vh !important

			div.row
				a
					display: none !important
					height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div.card-body2
				hr.hrcolor
					display: none !important
					height: 0vh !important

			div.container-fluid
				div
					small
						strong

						span

				div
					ul
						li
							a


			div.copyright-nextline
				ul.card-body2
					li
						display: none !important
						height: 0vh !important

						a
							display: none !important
							height: 0vh !important

			div.copyright-nextline
				small
					display: none !important
					height: 0vh !important

					strong
						display: none !important
						height: 0vh !important

					span
						display: none !important
						height: 0vh !important

@include tablet 

@include phone

@include small-phone

