@include desktop

@include tablet
	section.footer-desktop
		display: none !important
		height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				div
					display: none !important
					height: 0vh !important
					a
						display: none !important
						height: 0vh !important

						img.nav-logo
							display: none !important
							height: 0vh !important
			div
				display: none !important
				height: 0vh !important

				a.calltoaction
					display: none !important
					height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				button
					display: none !important
					height: 0vh !important		
		div
			display: none !important
			height: 0vh !important

			hr.hrcolor
				display: none !important
				height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				small
					display: none !important
					height: 0vh !important

					strong
						display: none !important
						height: 0vh !important

					span
						display: none !important
						height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				ul
					display: none !important
					height: 0vh !important

					li
						display: none !important
						height: 0vh !important

						a
							display: none !important
							height: 0vh !important

	section.footer-mobile
		height: 30vh
		margin: 0vh 0 0 0 !important
		background-color: $baseColor
		div
			div.footer-container
				background: #30506e !important
				a
					img.footer-logo
						width: 240px
						height: 71px
						background: #30506e !important
			div
				button

		div.footer-mobile
			div.row
				h6.smallheader-footer
					color: white
					font-family:  Oswald
			div.row
				a
					color: white

		div
			background-color: $baseColor
			border: none
			div.card-body2
				hr.hrcolor
					border: .5px solid white
					width: 95%

			div.container-fluid
				div
					small
						strong

						span
				div
					ul
						li
							a
			div.copyright-nextline
				ul.card-body2
					li
						color: white
						font-size: .8rem
						a
							color: white
							font-size: .8rem

			div.copyright-nextline
				small
					color: white
					strong
						color: white
					span
						color: white

@include small-tablet
	section.footer-desktop
		display: none !important
		height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				div
					display: none !important
					height: 0vh !important
					a
						display: none !important
						height: 0vh !important

						img.nav-logo
							display: none !important
							height: 0vh !important
			div
				display: none !important
				height: 0vh !important

				a.calltoaction
					display: none !important
					height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				button
					display: none !important
					height: 0vh !important		
		div
			display: none !important
			height: 0vh !important

			hr.hrcolor
				display: none !important
				height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				small
					display: none !important
					height: 0vh !important

					strong
						display: none !important
						height: 0vh !important

					span
						display: none !important
						height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				ul
					display: none !important
					height: 0vh !important

					li
						display: none !important
						height: 0vh !important

						a
							display: none !important
							height: 0vh !important

	section.footer-mobile
		height: 30vh
		margin: 0vh 0 0 0 !important
		background-color: $baseColor
		div
			div.footer-container
				background: #30506e !important
				a
					img.footer-logo
						width: 240px
						height: 71px
						background: #30506e !important
			div
				button

		div.footer-mobile
			div.row
				h6.smallheader-footer
					color: white
					font-family:  Oswald
			div.row
				a
					color: white

		div
			background-color: $baseColor
			border: none
			div.card-body2
				hr.hrcolor
					border: .5px solid white
					width: 95%

			div.container-fluid
				div
					small
						strong

						span
				div
					ul
						li
							a
			div.copyright-nextline
				ul.card-body2
					li
						color: white
						font-size: .8rem
						a
							color: white
							font-size: .8rem

			div.copyright-nextline
				small
					color: white
					strong
						color: white
					span
						color: white

@include phone
	section.footer-desktop
		display: none !important
		height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				div
					display: none !important
					height: 0vh !important
					a
						display: none !important
						height: 0vh !important

						img.nav-logo
							display: none !important
							height: 0vh !important
			div
				display: none !important
				height: 0vh !important

				a.calltoaction
					display: none !important
					height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				button
					display: none !important
					height: 0vh !important		
		div
			display: none !important
			height: 0vh !important

			hr.hrcolor
				display: none !important
				height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				small
					display: none !important
					height: 0vh !important

					strong
						display: none !important
						height: 0vh !important

					span
						display: none !important
						height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				ul
					display: none !important
					height: 0vh !important

					li
						display: none !important
						height: 0vh !important

						a
							display: none !important
							height: 0vh !important

	section.footer-mobile
		height: 30vh
		// margin: -25vh 0 0 0 !important
		background-color: $baseColor

		div
			div.footer-container
				background: #30506e !important
				a
					img.footer-logo
						width: 180px
						height: 53px
						background: #30506e !important
			div
				button

		div.footer-mobile
			div.row
				h6.smallheader-footer
					color: white
					font-family:  Oswald

			div.row
				a
					color: white

		div
			background-color: $baseColor
			border: none

			div.card-body2
				hr.hrcolor
					border: .5px solid white
					width: 95%

			div.container-fluid
				div
					small
						strong

						span

				div
					ul
						li
							a


			div.copyright-nextline
				ul.card-body2
					li
						color: white
						font-size: .5rem

						a
							color: white
							font-size: .5rem

			div.copyright-nextline
				small
					color: white

					strong
						color: white

					span
						color: white

@include small-phone
	section.footer-desktop
		display: none !important
		height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				div
					display: none !important
					height: 0vh !important
					a
						display: none !important
						height: 0vh !important

						img.nav-logo
							display: none !important
							height: 0vh !important
			div
				display: none !important
				height: 0vh !important

				a.calltoaction
					display: none !important
					height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				button
					display: none !important
					height: 0vh !important		
		div
			display: none !important
			height: 0vh !important

			hr.hrcolor
				display: none !important
				height: 0vh !important

		div
			display: none !important
			height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				small
					display: none !important
					height: 0vh !important

					strong
						display: none !important
						height: 0vh !important

					span
						display: none !important
						height: 0vh !important

			div
				display: none !important
				height: 0vh !important

				ul
					display: none !important
					height: 0vh !important

					li
						display: none !important
						height: 0vh !important

						a
							display: none !important
							height: 0vh !important

	section.footer-mobile
		height: 30vh
		// margin: -25vh 0 0 0 !important
		background-color: $baseColor

		div
			div.footer-container
				background: #30506e !important
				a
					img.footer-logo
						width: 180px
						height: 53px
						background: #30506e !important
			div
				button

		div.footer-mobile
			div.row
				h6.smallheader-footer
					color: white
					font-family:  Oswald

			div.row
				a
					color: white

		div
			background-color: $baseColor
			border: none

			div.card-body2
				hr.hrcolor
					border: .5px solid white
					width: 95%

			div.container-fluid
				div
					small
						strong

						span

				div
					ul
						li
							a


			div.copyright-nextline
				ul.card-body2
					li
						color: white
						font-size: .5rem

						a
							color: white
							font-size: .5rem

			div.copyright-nextline
				small
					color: white

					strong
						color: white

					span
						color: white