<section class="card-body billofrights d-flex align-items-center card-body container-fluid" id="billofrights">	
				<div class="card-body">

					<div class="bor-card-container billofrights-container container-fluid bor-title">
						<div class="card-body d-flex justify-content-center container-fluid col-10 col-md-5 col-lg p-0">
							<div class="" data-aos="zoom-out" data-aos-delay="100">
								<div class="d-flex justify-content-center mt-5 mb-n4">
									<img class="billsofrightslogo img-fluid" src="assets/images/billofrightslogo.png" alt="">
								</div>
								<p class="billofrights-hdr sm-txt1 my-2">A COMMUTER'S BILL OF RIGHTS</p>
								<div class="d-flex justify-content-center bor-desc-tablet">
									<div class="w-75">
										<p class="sm-txt2 mb-4">“The Magna Carta of Dignified Commuting”. The proposed bill fights for the rights of the daily commuter defined as someone who travels from one point to another using a combination of transport modes other than private vehicles. Everyone is a pedestrian at some point in the day. We want a life in the Philippines where the streets are for people to walk on, bike, and have a chat with acquaintances we meet along the way.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="bor-title-tab d-flex justify-content-center pt-0">
						<div class="d-flex justify-content-center align-items-center col-8 offset-lg-2">
							<div class="col-4 px-0 mr-2">
								<img class="billsofrightslogo img-fluid w-75" src="assets/images/billofrightslogo.png" alt="">
							</div>
							<div class="col-8 px-0 d-flex justify-content-center">
								<div class="">	
									<p class="sm-txt1-tab p-0 text-center">A COMMUTER'S BILL OF RIGHTS</p>
								</div>
							</div>
						</div>
					</div>

					<div class="bor-title-mobile d-flex justify-content-center pt-5">
						<div class="d-flex justify-content-center align-items-center col-12">
							<div class="col-4 px-0 mr-2">
								<img class="billsofrightslogo img-fluid w-100" src="assets/images/billofrightslogo.png" alt="">
							</div>
							<div class="col-8 px-0 d-flex justify-content-center">
								<div class="">	
									<p class="sm-txt1-mobile p-0 text-center">A COMMUTER'S BILL OF RIGHTS</p>
								</div>
							</div>
						</div>
					</div>

					<div class="card-group container-fluid bor-card-container mb-0">
						<div class="row d-flex flex-wrap justify-content-center ">
							
							<div class="card col-5 col-md-5 col-lg billofrights-card mx-2 my-2 " id="everybill" data-aos="flip-left" data-aos-delay="400">
								<div class="card-body d-flex justify-content-center p-0" >
									<h4 class="card-title mt-3 card-title-lg" id="smallheader-bor">SAFE</h4>
									<h6 class="card-title mt-3 card-title-mobile" id="smallheader-bor">SAFE</h6>
								</div>
								<div class="d-flex justify-content-center">
									<img src="assets/images/bikehelmet.png" class="card-img-top img-fluid w-50 bor-icon-lg py-3" alt="...">
									<img src="assets/images/bikehelmet.png" class="card-img-top img-fluid w-50 bor-icon-md pb-4" alt="...">
									<img src="assets/images/bikehelmet.png" class="card-img-top img-fluid w-100 bor-icon-sm mb-2" alt="...">
								</div>
								<div class="card-body d-flex justify-content-center p-0">
									<p class="card-text text-center sm-txt-lg-bor">The safety of Filipino commuters and dedicated pedestrian infrastructure should be the top priority of the local transport authorities in Metro Manila.</p>
									<p class="card-text text-center sm-txt-md-bor">The safety of Filipino commuters and dedicated pedestrian infrastructure should be the top priority of the local transport authorities in Metro Manila.</p>
									<p class="card-text text-center sm-txt-sm-bor mb-1">The safety of Filipino commuters and dedicated pedestrian infrastructure should be the top priority of the local transport authorities in Metro Manila.</p>
								
								</div>
							</div>

							<div class="card col-5 col-md-5 col-lg billofrights-card mx-2 my-2" id="everybill" data-aos="flip-left" data-aos-delay="800">
								<div class="card-body d-flex justify-content-center p-0">
									<h4 class="card-title mt-3 card-title-lg" id="smallheader-bor">RELIABLE</h4>
									<h6 class="card-title mt-3 card-title-mobile" id="smallheader-bor">RELIABLE</h6>
								</div>
								<div class="d-flex justify-content-center">
									<img src="assets/images/reliable.png" class="card-img-top img-fluid w-50 bor-icon-lg py-3" alt="...">
									<img src="assets/images/reliable.png" class="card-img-top img-fluid w-50 bor-icon-md pb-4" alt="...">
									<img src="assets/images/reliable.png" class="card-img-top img-fluid w-100 bor-icon-sm mb-2" alt="...">
								</div>	
								<div class="card-body d-flex justify-content-center p-0">
									<p class="card-text text-center sm-txt-lg-bor">Public transport operators should be as easy as possible for travellers. Facilities that are able provide up-to-date travel information should be made accessible.</p>
									<p class="card-text text-center sm-txt-md-bor">Public transport operators should be as easy as possible for travellers. Facilities that are able provide up-to-date travel information should be made accessible.</p>
									<p class="card-text text-center sm-txt-sm-bor mb-1">Public transport operators should be as easy as possible for travellers. Facilities that are able provide up-to-date travel information should be made accessible.</p>
								
								</div>
							</div>

							<div class="card col-5 col-md-5 col-lg billofrights-card mx-2 my-2" id="everybill" data-aos="flip-left" data-aos-delay="1200">
								<div class="card-body d-flex justify-content-center p-0">
									<h4 class="card-title mt-3 card-title-lg" id="smallheader-bor">ACCESSIBLE</h4>
									<h6 class="card-title mt-3 card-title-mobile" id="smallheader-bor">ACCESSIBLE</h6>
								</div>
								<div class="d-flex justify-content-center">
								<img src="assets/images/accessible.png" class="card-img-top img-fluid w-50 bor-icon-lg py-3" alt="...">
								<img src="assets/images/accessible.png" class="card-img-top img-fluid w-50 bor-icon-md pb-4" alt="...">
								<img src="assets/images/accessible.png" class="card-img-top img-fluid w-100 bor-icon-sm mb-2" alt="...">
								</div>	
								<div class="card-body d-flex justify-content-center p-0">
									<p class="card-text text-center sm-txt-lg-bor">Public transport operators should be as easy as possible for travellers. Facilities that are able provide up-to-date travel information should be made accessible.</p>
									<p class="card-text text-center sm-txt-md-bor">Public transport operators should be as easy as possible for travellers. Facilities that are able provide up-to-date travel information should be made accessible.</p>
									<p class="card-text text-center sm-txt-sm-bor mb-1">Public transport operators should be as easy as possible for travellers. Facilities that are able provide up-to-date travel information should be made accessible.</p>
								
								</div>
							</div>

							<div class="card col-5 col-md-5 col-lg billofrights-card mx-2 my-2" id="everybill" data-aos="flip-left" data-aos-delay="1600">
								<div class="card-body d-flex justify-content-center p-0">
									<h4 class="card-title mt-3 card-title-lg" id="smallheader-bor">COMFORTABLE</h4>
									<h6 class="card-title mt-3 card-title-mobile" id="smallheader-bor">COMFORTABLE</h6>
								</div>
								<div class="d-flex justify-content-center">
								<img src="assets/images/comfortable.png" class="card-img-top img-fluid w-50 bor-icon-lg py-3" alt="...">
								<img src="assets/images/comfortable.png" class="card-img-top img-fluid w-50 bor-icon-md pb-4" alt="...">
								<img src="assets/images/comfortable.png" class="card-img-top img-fluid w-100 bor-icon-sm mb-2" alt="...">
								</div>	

								<div class="card-body d-flex justify-content-center p-0">
									<p class="card-text text-center sm-txt-lg-bor">Recommendations to make rides more comfortable and less daunting for everyone, including families, seniors and wheelchair users.</p>
									<p class="card-text text-center sm-txt-md-bor">Recommendations to make rides more comfortable and less daunting for everyone, including families, seniors and wheelchair users.</p>
									<p class="card-text text-center sm-txt-sm-bor mb-1">Recommendations to make rides more comfortable and less daunting for everyone, including families, seniors and wheelchair users.</p>
								
								</div>
							</div>

							<div class="card col-5 col-md-5 col-lg billofrights-card mx-2 my-2" id="everybill" data-aos="flip-left" data-aos-delay="2000">
								<div class="card-body d-flex justify-content-center p-0">
									<h4 class="card-title mt-3 card-title-lg" id="smallheader-bor">SUSTAINABLE</h4>
									<h6 class="card-title mt-3 card-title-mobile" id="smallheader-bor">SUSTAINABLE</h6>
								</div>
								<div class="d-flex justify-content-center">
									<img src="./assets/images/environmentallysound.png" class="card-img-top img-fluid w-50 bor-icon-lg py-3" alt="...">
									<img src="./assets/images/environmentallysound.png" class="card-img-top img-fluid w-50 bor-icon-md pb-4" alt="...">
									<img src="./assets/images/environmentallysound.png" class="card-img-top img-fluid w-100 bor-icon-sm mb-2" alt="...">
								</div>	
								<div class="card-body d-flex justify-content-center p-0">
									<p class="card-text text-center sm-txt-lg-bor">Opt out of driving private vehicles and start encouraging Filipino commuters, from whichever walk-of-life, to take the public transport and have less carbon footprint.</p>
									<p class="card-text text-center sm-txt-md-bor">Opt out of driving private vehicles and start encouraging Filipino commuters, from whichever walk-of-life, to take the public transport and have less carbon footprint.</p>
									<p class="card-text text-center sm-txt-sm-bor mb-1">Opt out of driving private vehicles and start encouraging Filipino commuters, from whichever walk-of-life, to take the public transport and have less carbon footprint.</p>
								</div>
							</div>
						</div>
						
					</div>  

			        <button class="billofrights-btn mt-2" id="btn-billofrights" data-aos="zoom-in" data-aos-delay="100"><a class="knowmore" href="https://www.rappler.com/nation/237849-interview-senator-francis-pangilinan-commuters-rights-bill" target="_blank" >Know more about <strong>A Commuter's Bill of Rights</strong></a></button>
				</div>
		    </section>