* {
  margin: 0;
  padding: 0;
  box-sizing:border-box
}
/* ---------------
 SMOOTH SCROLLING
 -------------- */

html {
    scroll-behavior: smooth;

}
.parallax-window {

    height: auto;
    background: transparent;
    position: relative
    bottom: 10%;

}
section.contact {
    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
div.inner-container {
    padding: 0px !important;
}


/* ---------------
 SECTION VIEWPORTS
 -------------- */

.home {
    height: 100vh;
}
.billofrights {
    height: auto;
    padding-top: 87px !important;
}
.history {
    height: auto;
    padding-top: 87px !important;
}
.joinus {
    height: 100vh;
    padding-top: 87px;
}
.nacto-desktop {
    height: auto;
    padding-top: 87px !important;
}
.footer-desktop {
    height: auto;
    margin-bottom: -87px;
}
.footer-mobile {
    height: auto;
    background: #30506e;
    border: none;
}



/* ------------
NAVBAR
 ----------- */
    .navbar-desktop {
        background: #30506e !important;
    }
    small {
        color: white !important;
    }
    a img.nav-logo {
          width: 240px;
         height: 71px;
    }
    .nav-link {
        color: white !important;
    }
    .search-btn {
        color: white !important;
    }
    .searchbar {
        color: white !important;
    }
    input.searchbar::placeholder {
        color: white !important;
    }

.sidebar-searchbar {
    width: 100px !important;
}
.smalltxt-ftr-mobile{
    font-size: .5rem;
    color: white;
    font-family: oswald;
}




/* -----------------------
 COMMUTER'S BILL OF RIGHTS
 ---------------------- */
/*div.card-body {
    padding: 0 !important;
}*/
.billofrights {
    background: white;
}

/*.row-billofrights {
    width: 100vh;*/

.sm-txt1 {
  color: #666666;
  font-size: 2.5rem;
  font-family: oswald;
  font-weight: bold;
  text-align: center;
}
.sm-txt1-tab {
  color: #666666;
  font-size: 2rem;
  font-family: oswald;
  font-weight: bold;
  text-align: center;
}
.sm-txt1-mobile {
  color: #666666;
  font-size: 1.75rem;
  font-family: oswald;
  font-weight: bold;
  text-align: center;
}

.sm-txt2 {
  text-align: center;
  /*margin: 0 auto 20px auto;*/
  font-size: .9rem;
  font-family: arial;
  color: #5f7053;
}

/*CARD CONTAINER*/
.bor-card-container {
    width: 95%;
}
.billofrights-card {
    /*width: 100%;*/
    display: block;

    background: #72A1B4;
    /*transition: transform .2s;*/
}
.billofrights-icons {
    height: 120px;
    margin: 0px auto 0 auto;
}
.billofrights-btn { 
    display: flex;
    justify-content: center;
    border: 1.5px solid rgba(148, 148, 148, .5);
    border-radius: 5px;
    margin: 20px auto 0px auto;
    padding: 10px 20px;
    background: none;
    
    font-size: 1rem;
    font-family: arial;
    transition: transform .2s;
}
.billofrights-btn:hover {
    -ms-transform: scale(1.10); /* IE 9 */
  -webkit-transform: scale(1.10); /* Safari 3-8 */
  transform: scale(1.10);
}
 
a.knowmore {
        text-decoration: none;
        color:#949494 !important;
        }

h4#smallheader-bor {
  text-align: center;
  line-height: 50px;

  color:white;
  font-family: OSWALD;
  font-size: 2rem;

}
h6#smallheader-bor {
  text-align: center;
/*  line-height: 50px;*/

  color:white;
  font-family: OSWALD;
  font-size: 1rem;

}
h5#smallheader-his {
  text-align: center;
  line-height: 50px;

  color:#43454a;
  font-family: OSWALD;
  font-size: 1.5rem;

}
.history-hdr-1 {
    font-family: arial narrow;
    color: #666666;
}
.history-hdr-2 {
    font-family: arial narrow;
    color: #666666;
    font-size: 1.75rem;
}

.ticker-pnr {
    border-left: 5px solid orange;
}
.ticker-subway {
    border-left: 5px solid gray;
}
.ticker-lrt1 {
    border-left: 5px solid #fff23b;
}
.ticker-mrt3 {
    border-left: 5px solid #3f94fc;
}
.ticker-lrt2 {
    border-left: 5px solid #924ac2;
}
.ticker-line4 {
    border-left: 5px solid #fa66fa;
}
.ticker-line5 {
    border-left: 5px solid #7acc54;
}
.ticker-line6 {
    border-left: 5px solid #eb9d31;
}
.ticker-line7 {
    border-left: 5px solid #963d27;
}
.ticker-line8 {
    border-left: 5px solid #754e1b;
}
.ticker-line9 {
    border-left: 5px solid #db0000;
}
.ticker-pnr-north {
    border-left: 5px solid #126e3d;
}
.ticker-pnr-south {
    border-left: 5px solid #0c5b82;
}
.railnetwork-map {
    height: 90vh;
}


.card-body2, .halalan-container {
    padding: 0 !important;
}

@media(min-width:1218px) and (max-width:1361px) {
        a img.nav-logo {
        width: 180px;
         height: 53px;
    }
    .searchbar {
        width: 175px !important;
    }
    .nav-txt-hdr {
        font-size: .85rem;
    }
        input::placeholder {
        font-size: .85rem;
        color: white !important;
    }


}

@media(min-width:1121px) and (max-width:1217px) {
        a img.nav-logo {
        width: 180px;
         height: 53px;
    }
    .searchbar {
        width: 175px !important;
    }
    .nav-txt-hdr {
        font-size: .75rem;
    }
            input::placeholder {
        font-size: .75rem;
        color: white !important;
    }



}
@media(min-width:992px) and (max-width:1120px) {
        a img.nav-logo {
        width: 180px;
         height: 53px;
    }
    .searchbar {
        width: 125px !important;
    }
    .nav-txt-hdr {
        font-size: .6rem;
    }
            input::placeholder {
        font-size: .6rem;
        color: white !important;
    }



}

@media(min-width:992px) {
    .sm-txt-md-bor,
    .sm-txt-sm-bor,
    .bor-title-tab,
    .bor-title-mobile,
    .bor-icon-sm,
    .bor-icon-md,
    .history-title-mobile,
    .history-hdr-2,
    .card-title-mobile,
    .joinus-mobile,
    .navbar-mobile,
    .cto-tab,
    .cto-mobile,
    .nacto-desc-mobile,
    .nacto-mobile,
    .footer-mobile,
    .nav-logo-xs,
    .nav-logo-md,
    .copyright-nextline  {
        display: none !important;
    }
    .sm-txt-md-his,
    .sm-txt-sm-his {
        display: none !important;
    }
    .sm-txt-lg-bor {
        text-align: center;
        font-size: 1rem;
        font-family: arial;
        color: white;
    }

    .sm-txt-lg-his {
        text-align: center;
        font-size: 1rem;
        font-family: arial;
        color: #43454a;
    }
    .billsofrightslogo {
        width: 150px;
        height: 150px;
    }
        .billofrights {
        height: 100vh;
    }
        .history {
        height: 100vh;
    }
/*    h2.cto-desktop {
    font-size: 7rem;
    }
    p.cto-desktop {
        font-size: 2.9rem;
    }*/
    .nacto-desktop {
        height: 100vh;
    }
    h5#smallheader-nacto {
        font-size: 1.25rem;
        color:#43454a;
        font-family: OSWALD;
    }
    h4#smallheader-bor {
      font-size: 1.5rem;
    }
    p.robot-disclaimer {
        font-size: 1rem;
    }
    img.captcha-img {
        width: 50px;
        height: 50px;
    }
    .footer-desktop {
        position: relative;
        z-index: 3;
    }
    .joinus {
        padding-top: 87px !important;
    }















}

@media(min-width:769px) and (max-width:991px) {
    .sm-txt-lg-bor,
    .sm-txt-sm-bor,
    .bor-title,
    .bor-title-mobile,
    .bor-icon-sm, 
    .bor-icon-lg,
    .history-title-mobile,
    .history-hdr-2,
    .joinus-mobile,
    .bor-desc-tablet,
    .card-title-mobile,
    .joinus-mobile,
    .cto-desktop,
    .cto-mobile,
    .navbar-desktop,
    .footer-desktop,
    .nacto-desc-mobile,
    .nacto-mobile,
    .footer-desktop,
    .nav-logo-xs,
    .nav-logo-lg,
    .copyright-nextline  {
        display: none !important;
    }
    .sm-txt-lg-his,
    .sm-txt-md-bor,
    .sm-txt-sm-his,
    .joinus-mobile {
        display: none !important;
    }
    .railnetwork {
        display: none !important;
    }    
    .sm-txt-md-bor {
      text-align: center;
      font-size: 1rem;
      font-family: arial;
      color: white;
    }
    .sm-txt-md-his {
      text-align: center;
      font-size: 1rem;
      font-family: arial;
      color: #43454a;   
    }

    h2.cto-tab {
    font-size: 4.25rem;

   
    }
    p.cto-tab {
        font-size: 1.75rem;
    }
    .billofrights, .history {
        padding-top: 0 !important;
    }
        .history-hdr-1 {
        margin-bottom: 12px !important;
        margin-left: 30px !important;
    }
            .nacto-desktop {
        height: auto;
    }
    h5#smallheader-nacto {
        font-size: 1.25rem;
         color:#43454a;
  font-family: OSWALD;
    }
    p.nacto-hdr {
        font-size: 1.5rem;
         color:#43454a;
  font-family: OSWALD;
    }
    p.robot-disclaimer {
        font-size: 1rem;
    }
        img.captcha-img {
        width: 50px;
        height: 50px;
    }
     h6.smallheader-footer {
        color: white !important;
        font-family: oswald !important;
        font-size: 1rem !important;
    }
    .billofrights {
    height: auto;
    padding-top: 0px !important;
}
.history {
    height: auto;
    padding-top: 0px !important;
}
.joinus {
    height: 100vh;
    padding-top: 0px;
}
.nacto-desktop {
    height: auto;
    padding-top: 0px !important;
}


}

@media(min-width:577px) and (max-width:768px) {
    .sm-txt-lg-bor,
    .sm-txt-sm-bor,
    .bor-title,
    .bor-title-mobile,
    .bor-icon-sm, 
    .bor-icon-lg,
    .history-title-mobile,
    .history-hdr-2,
    .joinus-mobile,
    .bor-desc-tablet,
    .card-title-mobile,
    .joinus-mobile,
    .cto-desktop,
    .cto-mobile,
    .navbar-desktop,
    .footer-desktop,
    .nacto-desc-desktop,
    .nacto-desktop,
     .sm-txt-lg-his,
    .sm-txt-md-bor,
    .sm-txt-sm-his,
    .joinus-mobile,
    .railnetwork,
    .footer-desktop,
    .nav-logo-xs,
    .nav-logo-lg,
    .copyright-sameline  {
        display: none !important;
    }    
    .sm-txt-md-bor {
      text-align: center;
      font-size: 1rem;
      font-family: arial;
      color: white;
    }
    .sm-txt-md-his {
      text-align: center;
      font-size: 1rem;
      font-family: arial;
      color: #43454a;   
    }

    h2.cto-tab {
    font-size: 4.25rem;

   
    }
    p.cto-tab {
        font-size: 1.75rem;
    }
    .billofrights, .history {
        padding-top: 0 !important;
    }
        .history-hdr-1 {
        margin-bottom: 12px !important;
        margin-left: 30px !important;
    }
            .nacto-mobile {
        height: auto;
    }
    h6#smallheader-nacto {
        color:#43454a;
        font-family: OSWALD;
        font-size: 1rem;

    }
        label.robot-disclaimer {
        font-size: .85rem;
    }
        img.captcha-img {
        width: 50px;
        height: 50px;
    }
     h6.smallheader-footer {
        color: white !important;
        font-family: oswald !important;
        font-size: 1rem !important;
    }
    .billofrights {
    height: auto;
    padding-top: 0px !important;
}
.history {
    height: auto;
    padding-top: 0px !important;
}
.joinus {
    height: 100vh;
    padding-top: 0px;
}
.nacto-desktop {
    height: auto;
    padding-top: 0px !important;
}



}




 @media(max-width:576px) {
    .sm-txt-lg-bor,
    .sm-txt-md-bor,
    .sm-txt-sm-bor,
    .bor-title,
    .bor-title-tab,
    .bor-icon-md,
    .bor-icon-lg, 
    .railnetwork,
    .history-title,
    .history-hdr-1,
    .joinus-desktop,
    .card-title-lg,
    .cto-desktop,
    .cto-tab,
    .navbar-desktop,
    .footer-desktop,
    .nacto-desc-desktop,
    .nacto-desktop,
    .nav-logo-md, 
    .nav-logo-lg,
    .copyright-sameline {
        display: none !important;
    }
    .sm-txt-lg-his,
    .sm-txt-md-his {
        display: none !important;
    }
    .sm-txt-sm-his {
        text-align: center;
        font-size: 1rem;
        font-family: arial;
        color: #43454a;
    }
    .home {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: url(../images/homecover-mobile02.png)
        no-repeat
        right center !important;

        background-size: cover; 
    }
    h2.cto-mobile{
    font-size: 2.8rem;

   
    }
    p.cto-mobile{
        font-size: 1.16rem;
    }
        .billofrights, .history {
        padding-top: 0 !important;
    }
    .history-hdr-2 {
        margin-bottom: 6px !important;
        font-size: 1.25rem !important;
    }
    .nacto-mobile {
        height: auto;
    }
    h6#smallheader-nacto {
        color:#43454a;
        font-family: OSWALD;
        font-size: 1rem;
    }
    img.captcha-img {
        width: 50px;
        height: 50px;
    }
    .footer-logo {
        width: 180px !important;
        height: 53px !important;  
        background: #30506e !important
    }
     h6.smallheader-footer {
        color: white !important;
        font-family: oswald !important;
        font-size: 1rem !important;
    }
    img.sidebar-logo {
        height: 36 !important;
        width: 123 !important;
    }
    .billofrights {
    height: auto;
    padding-top: 0px !important;
}
.history {
    height: auto;
    padding-top: 0px !important;
}
.joinus {
    height: 100vh;
    padding-top: 0px;
}
.nacto-desktop {
    height: auto;
    padding-top: 0px !important;
}


}

    


#everybill {
 transition: transform .2s;
}

#everybill:hover {
/*  background-color: rgba(255,255,255,0.75);*/
  -ms-transform: scale(1.075); /* IE 9 */
  -webkit-transform: scale(1.075); /* Safari 3-8 */
  transform: scale(1.075); 
}



/*.pnr-icon {

    background: #ffc261;
    border-radius: 100%;
}

.cancelledline-icon {

    background: #b3b3b3;
    border-radius: 100%;
}
.lrt1-icon {
    background: #faf9b1;
    border-radius: 100%;
}
.mrt3-icon {
    background: #7ab4fa;
    border-radius: 100%;
}
.lrt2-icon {
    background: #ab86d1;
    border-radius: 100%;
}
*/

/*HOME*/
.home {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: url(../images/homecover.png) 
        center center;
        background-size: cover;

}










/* ------------
JOIN US
 ----------- */
section.joinus {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: url(../images/edsatraffic.jpg) 
        center center;
        background-size: cover;

}
/*.joinus-container {
    height: 100vh;
}*/
h5 {
    font-size: 2.5rem;
    font-family: arial;
    color:white;
    font-weight: bold;
}
h3.card-title {
    font-size: 2.5rem;
    font-family: arial;
    color:white;
    font-weight: bold;
}


div .joinus-cto {
    margin-top: 50px;
    background: none !important;
    border: none !important;
}
div .joinus-cto2 {
    background: none !important;
    border: none !important;
}

#readmore {
    color:white;
}
#readmore:hover {
    color:white;
 
}
/*div.halalan-vh {
    height: 50vh;
}*/
div .halalan {
    background: none !important;
    border: none !important;
}
.fingerprint {
    width: 175px;
    height: 175px;
}
h5.halalan-desktop {
    font-size: 2.5rem;
    font-family: oswald;
    color:white;
    font-weight: bold;
}
p.halalan-desktop {
    font-size: 2.3rem;
    font-family: Saira Extra Condensed;
    color:white;
    font-weight: bold;
}
small.halalan-desktop {
    font-size: .65rem;
    font-family: arial;
    color:white;
}

/*h5.halalan-tab {
    font-size: 2.5rem;
    font-family: oswald;
    color:white;
    font-weight: bold;
}
p.halalan-tab {
    font-size: 2.5rem;
    font-family: Saira Extra Condensed;
    color:white;
    font-weight: bold;
}
small.halalan-tab {
    font-size: 1rem;
    font-family: arial;
    color:white;
}*/


div.commutersnaman-container {
    position: absolute;
    top: 45%;
}
h2.commutersnaman {

font-family: oswald;
color:white;
font-weight: bold;

}
p.commutersnaman-sub {

font-family: Saira Extra Condensed;
color:white;
font-weight: bold;

    }


h6.halalan-mobile {
    font-size: 1.85rem;
    font-family: oswald;
    color:white;
    font-weight: bold;
}

p.halalan-mobile {
    font-size: 1.75rem;
    font-family: Saira Extra Condensed;
    color:white;
    font-weight: bold;
}

small.halalan-mobile {
    font-size: .5rem;
    font-family: arial;
    color:white;
}
#halalanall {
  transition: transform .2s;
}
 #halalanall:hover {
    color:white;
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}



/*CONTACT NON-PARALLAX*/
/*
section.contact {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: url(../images/contacts-bg.png) 
        center center;
        background-size: cover;

}*/


/*CONTRACT-PARALLAX*/
.parallax {
    min-height: 400px;
    background: transparent;
}
h3.contact-hdr {
    font-size: 1.25rem;
    font-family: oswald;
    color:white;
}
h5.contact-hdr {
    font-size: 2rem;
    font-family: oswald;
    color:white;
}
h5.contact-sub {
    font-size: 1.5rem;
    font-family: Saira Extra Condensed;
    font-weight: normal;
    color:white;
}
h5.captcha-hdr {
    font-size: 1.5rem;
    font-family: arial;
    font-weight: normal;
    color:white;

}
h6.captcha-sub {
    font-size: 1rem;
    font-family: arial narrow;
    font-weight: normal;
    color:white;
}
p.contact-txt {
     font-size: 1rem;
    font-family: arial;
    color:white;
}
/*.inputField {
    height: 187px;
}*/


#socialmediaicons {
    color: white;
}


/* ------------
FOOTER
 ----------- */
    footer {
        background: #30506e !important;
    }
    small {
        color: white !important;
    }
    a img.small-logo{
          width: 240px;
         height: 71px;
    }
    .small-text-ftr {
        color:white;
        font-size: .85rem;
        font-family: oswald;
    }
    .hrcolor {
        border: .5px solid white;
        width: 95%;
    }
    .calltoaction {
        color:white;
        font-size: 1.5rem;
        font-family: Saira Extra Condensed;
    } 
    a.calltoaction {
        text-decoration: none;
    }
    .footer-container { 
     background: #30506e !important
    }


#calltoaction {
  /*width: 50px;
  height: 50px;
  margin: auto 20px auto 20px;*/
  transition: transform .2s;
 }
 #calltoaction:hover {
    color:white;
  /*background-color: rgba(255,255,255,0.75);*/
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}



















/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #30506e;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

#dismiss2 {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #30506e;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #30506e;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #30506e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #30506e !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.nav-mobile-pg {
    background: #30506e;
}